<%- include('../layout/header.ejs') %>
<div class="container py-5">
    <h1 class="p-3 my-0 mx-auto">User Profile</h1>
    <div class="row">
        <div class="col-4">
            <a href="/infor" class="link-btn d-flex flex-column align-items-center">
                <img src="/image/profile/user.png" alt="profile" class="img-btn w-75">
                <span class="fs-3">Profile</span>
            </a>
        </div>
        <div class="col-4">
            <a href="" class="link-btn d-flex flex-column align-items-center">
                <img src="/image/profile/password.png" alt="profile" class="img-btn w-75">
                <span class="fs-3">Change Password</span>
            </a>
        </div>
        <div class="col-4 ">
            <a href="/my_blog" class="link-btn d-flex flex-column align-items-center">
                <img src="/image/profile/blog.png" alt="profile" class="img-btn w-75">
                <span class="fs-3">My Blogs</span>
            </a>
        </div>
    </div>
</div>
<%- include('../layout/footer.ejs') %>
